# {{ ansible_managed }}
{% for path in item.paths %}
{{ path }}
{%- endfor %}  {
{% if item.options is defined %}
  {% for option in item.options %}
  {{ option }}
  {% endfor %}
{% endif %}
{% if item.commands is defined %}
{% for key, value in item.commands.items() %}
  {{ key }}
      {{ value }}
    endscript
  {% endfor%}
{% endif %}
}
